<footer style="
  background-color: rgb(124, 181, 181);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 26px;
">
  <a href="mailto:jamesmleppo@gmail.com" style="color: white; text-decoration: underline;">
    jamesmleppo@gmail.com
  </a>
</footer>
