<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/public/css/style.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap">

    
    <title>Web Dev</title>

<style>








.ab {
    
    height: 500px;
   
    
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
   
  }
  
  .zz {
    background-image: radial-gradient(ellipse at center, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 70%), linear-gradient(to right, rgb(124, 181, 181), rgb(205, 177, 131));
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .contain {
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
    width: 90%;
    
  }
  
  .flexb {
    display: flex;
    flex-wrap: wrap;
    
    max-width: calc(50% - 10px);
    
  }
  
  .flexb img {
    max-width: 100%;
    margin-right: 20px;
    display: flex;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    border: 2px solid #ccc;
  }
  
  .flexb p {
    margin: 0;
    flex-basis: 100%;
  }
  
  @media (max-width: 768px) {
    .flexb {
      max-width: 100%;
    }
    .contain {
      flex-wrap: wrap;
    }
  }
  
  .mother {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    
  }
  
  .m {
    justify-content: center;
    align-items: center;
  }
  
  
  /* this is the comment for the js script */
  
  .acp-dropdown {
    position: absolute;
    z-index: 1000;
    background-color: white;
    border: 1px solid #ccc;
    max-height: 200px;
    overflow-y: auto;
  }
  .title2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; /* Set the width to the full width of its parent container */
  }
  
  .title3 {
    font-size: 4rem;
    font-weight: bold;
    
    margin-top: 2rem;
    margin-bottom: 2rem;
    
  }
  @media only screen and (max-width: 600px) {
    .title3 {
      font-size: 2rem; /* change font size for smaller screens */
      padding-left: 10px;
    }
  }
  .center {
    text-align: center;
  }
  
  
  body {
    width: 100%;
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
  }
  
  
  .color {
    
    height: auto;
    padding: 40px 100px; /* Increase padding as needed */
    
  }
  
  .z {
    color: white;
  }
  .x {
    background-color: rgb(124, 181, 181);
  }
  /* styles for all screen sizes */
  .pad {
  padding: 0;
  margin: 0;
  }
  
  /* styles for small screens only */
  @media (max-width: 480px) {
  .pad {
    margin: 0px;
  }
  }
  
  
  
  .a {
    font-size: 20px;
  }
  
  @media only screen and (max-width: 600px) {
    .a {
      font-size: 9px; /* change font size for smaller screens */
    
    }
  }
  
  
  
  .ab {
    position: relative;
    height: 500px;
    background-image: radial-gradient(ellipse at center, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 70%), linear-gradient(to right, rgb(124, 181, 181), rgb(205, 177, 131));
    background-repeat: no-repeat;
    background-size: cover;
    
    z-index: -1;
  }
  .shadow-box {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    padding: 20px;
    background-color: #ffffff;
    margin-left: 50px;
    margin-right: 50px;
  }
  @media only screen and (max-width: 600px) {
    .title3 {
      font-size: 2rem; /* change font size for smaller screens */
      padding-left: 10px;
    }
  }
  
  .wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  
  .wrapper1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%; /* add this to ensure the boxes wrap properly */
  }
  
  .flexbox1 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
  }
  
  .box1 {
    flex: 1;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }
  
  @media screen and (min-width: 768px) {
    .flexbox1 {
      width: 48%;
    }
  }
  
  .my-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .my-list li {
    margin-bottom: 20px;
  }
  .wrapper1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
  }
  
  .flexbox1 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
  }
  
  .box1 {
    flex: 1;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: 100%;
  }
  
  @media screen and (min-width: 768px) {
    .flexbox1 {
      width: 48%;
    }
  }
  
  .my-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .my-list li {
    margin-bottom: 20px;
  }
  
  .box1 h2 {
    margin-top: 0;
    margin-bottom: 10px;
    color: #333333;
  }
  
  .box1 p {
    margin-top: 0;
    margin-bottom: 0;
    color: #666666;
  }
  
  .a {
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 200px 200px;
    background-position: right center;
  }
  
  .b {
    margin-left: 0;
    margin-right: 0;
  }
  
  h1 {
    font-size: 7vw;
    margin: 0;
    padding: 0;
    color: black;
    padding-left: 40px;
  }
  
  .first {
    background-color: rgb(124, 181, 181);
    padding-bottom: 100px;
  }
  
  h6 {
    padding: 0;
    width: 70%;
  }
  
  h6 {
    padding-left: 40px;
    font-size: 2.5vw;
  }
  
  .c {
    color: white;
  }
  
  
  
   
  .b {
    margin-left: 50px;
    margin-right: 50px;
  }
  
  
  h1 {
    font-size: 7vw;
    margin: 0;
    padding: 0;
    color: black;
    padding-left: 40px;
  }
  
  .first {
    background-color: rgb(124, 181, 181);
    padding-bottom: 100px;
  }
  
  h6 {
    padding: 0;
    width: 70%;
  }
  
  h6 {
    padding-left: 40px;
    font-size: 2.5vw;
    
  }
  .c {
    color: white;
  }
  
  
  
  
  
  header {
    background-color: rgb(124, 181, 181);
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .email {
    margin: 0;
  }
  
  .header-links {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  
  .header-links li {
    margin: 0 10px;
  }
  
  .header-links a {
    color: #4CAF50;
    text-decoration: none;
  }
  
  
  .my-element {
    padding: 30px !important;
  }
  
  .my-element li {
    font-size: 30px !important;
  }
  li {
    font-size: 30px;
    padding-left: 10px;
    color: white;
  }
  
  /* this is the comment for the js script */
  
  
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #f2f2f2;
    border-top: 1px solid #ccc;
  }
  .ui-autocomplete {
    font-size: 8px !important;
    
  }
  
  .ui-menu-item {
    font-size: 12px !important;
    color: black !important;
    font-family: 'Open Sans', sans-serif !important;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    
    padding: 1rem;
    width: 80%;
  }
  
  .box {
    flex-basis: 40%;
    background-color: #f1f1f1;
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  }
  
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
      align-items: center;
    }
  
    .box {
      flex-basis: 100%;
      margin-bottom: 2rem;
    }
  }
  h2 {
    margin: 0;
    padding: 0;
  }
  
  /* the next---------------------------------------------------------------- */
  
  
  .container {
    
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    
  }
  
  h1 {
    text-align: center;
    color: #444;
    margin-bottom: 30px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    
    resize: none;
  }
  
  .button {
    background-color: rgb(124, 181, 181);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
  }
  
  .butt:hover {
    background-color: rgb(124, 181, 181);
  }
  
  ul {
    list-style: none;
    
    margin: 0;
    padding: 0;
    width: 100%;
    
    
  }
  
  
  li {
    
    padding: 10px;
    color: black !important;
    border-radius: 5px;
    margin-bottom: 10px;
    font-weight: bold !important;
    font-size: 18px;
  }
  
  button {
    margin: 5px;
  }
  
  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    background-color: rgb(124, 181, 181);
    color: white;
    text-align: center;
    padding: 20px;
  }





</style>


    <div class="header">
      <a href="#home">Home</a>
      <a href="#section1">Section 1</a>
      <a href="#section2">Section 2</a>
      <a href="#section3">Section 3</a>
    </div>
    <style>
      body {
        margin: 5px;
        padding: 0;
        font-family: 'Open Sans', sans-serif;
        border: none;
        
      }
      
      .container {
        
        margin: 0 auto;
        padding: 50px 0;
      }
      .header {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 20px;
        background-color: #333;
        color: #fff;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 9999;
      }
      .header a {
        color: #fff;
        text-decoration: none;
        margin-right: 20px;
      }
      .content {
        padding: 50px 0;
      }
      .section {
        margin-bottom: 50px;
        padding: 50px 0;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
      }
      .section h2 {
        font-size: 2rem;
        margin-bottom: 20px;
      }
      .section p {
        font-size: 2rem;
        line-height: 1.8;
      }
      
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      $(document).ready(function () {
        $(window).scroll(function () {
          if ($(this).scrollTop() > 100) {
            $(".header").addClass("sticky");
          } else {
            $(".header").removeClass("sticky");
          }
        });
  
        $('a[href^="#"]').click(function () {
          var target = $(this.hash);
          if (target.length) {
            $("html, body").animate(
              {
                scrollTop: target.offset().top,
              },
              1000
            );
            return false;
          }
        });
      });
    </script>
      
  </head>
  <body>
   

<style>     
  h1 {
    margin-top: 100px;
    font-size: 4rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    padding: 20px;
}


</style>

<h1>This is a big H1 with a shadow</h1>







<div class="ab zz" >
  <div class="contain">
    <div class="flexb">
      <img class="mother" src="/public/me.jpg" alt="Your Image">
    </div>
    <div class="flexb m">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe eaque aperiam, quos reiciendis repudiandae, quia minus tempora iusto autem, odio voluptate necessitatibus ex omnis! Fugiat magnam quia adipisci laudantium quae.</p>
    </div>
  </div>
</div>







<div class="title2" style="display: flex; justify-content: center;">
  <h1 class="title3 center">Live Weather Forecast API</h1>
</div>

<div class="shadow-box" style="display: flex; justify-content: center;">
  <div class="title2" style="display: flex; flex-direction: column; align-items: center;">
    <form id="weather-form" autocomplete="off" style="padding: 10px;">
      <input type="text" id="city" name="city" placeholder="Enter a city name" style="margin-right: 5px;">
      <button type="submit" style="background-color: rgb(124, 181, 181); color: white; padding: 5px 10px; border: none; border-radius: 5px;">Get Weather</button>
    </form>
    <ul id="suggestion-list"></ul>
    <div id="weather-info"></div>
  </div>
</div>
<script>
 const form = document.querySelector("#weather-form");
const input = document.querySelector("#city");
const suggestionList = document.querySelector("#suggestion-list");
const weatherInfo = document.querySelector("#weather-info");

const apiKey = "c740b141159dc93d62c32a163b009d37";

form.addEventListener("submit", (e) => {
e.preventDefault();
const city = input.value.trim(); // declare the city variable
const url = `https://api.openweathermap.org/data/2.5/weather?q=${city}&appid=${apiKey}&units=metric`;

fetch(url)
  .then((response) => response.json())
  .then((data) => {
    const cityName = data.name;
    const weatherDescription = data.weather[0].description;
    const temperature = data.main.temp;

    const resultHtml = `
      <p>The current temperature in ${cityName} is ${temperature} degrees Celsius, with ${weatherDescription}.</p>
    `;

    weatherInfo.innerHTML = resultHtml;
  })
  .catch((error) => {
    console.error("Error fetching weather data:", error);
    weatherInfo.innerHTML = "<p>Error fetching weather data. Please try again.</p>";
  });
});


</script>






<script>
  $(document).ready(function() {
    var cities = [
  "New York",
  "Los Angeles",
  "Chicago",
  "Houston",
  "Phoenix",
  "Philadelphia",
  "San Antonio",
  "San Diego",
  "Dallas",
  "San Jose",
  "Austin",
  "Fort Worth",
  "Jacksonville",
  "Columbus",
  "San Francisco",
  "Seattle",
  "Denver",
  "Washington",
  "Boston",
  "Nashville",
  "Portland",
  "Las Vegas",
  "Atlanta",
  "Miami",
  "Kansas City",
  "Charlotte",
  "Indianapolis",
  "Orlando",
  "Baltimore",
  "Louisville",
  "Memphis",
  "Milwaukee",
  "Minneapolis",
  "New Orleans",
  "Oklahoma City",
  "Omaha",
  "Pittsburgh",
  "Raleigh",
  "Sacramento",
  "Salt Lake City",
  "San Jose",
  "St. Louis",
  "Tampa",
  "Tucson",
  "Albuquerque",
  "Anaheim",
  "Arlington",
  "Aurora",
  "Bakersfield",
  "Baton Rouge",
  "Birmingham",
  "Boise",
  "Bridgeport",
  "Buffalo",
  "Chandler",
  "Chesapeake",
  "Chula Vista",
  "Cincinnati",
  "Cleveland",
  "Colorado Springs",
  "Corpus Christi",
  "Des Moines",
  "Detroit",
  "Durham",
  "El Paso",
  "Escondido",
  "Fayetteville",
  "Fontana",
  "Fort Lauderdale",
  "Fort Wayne",
  "Fresno",
  "Fullerton",
  "Garden Grove",
  "Garland",
  "Gilbert",
  "Glendale",
  "Greensboro",
  "Hialeah",
  "Honolulu",
  "Huntington Beach",
  "Idaho Falls",
  "Irvine",
  "Irving",
  "Jackson",
  "Lancaster",
  "Laredo",
  "Lexington",
  "Lincoln",
  "Long Beach",
  "Madison",
  "McAllen",
  "Mesquite",
  "Modesto",
  "Montgomery",
  "Nampa",
  "Nashua",
  "New Haven",
  "Newark",
  "Norfolk",
  "North Las Vegas",
  "Norwalk",
  "Oceanside",
  "Odessa",
  "Ontario",
  "Orange",
  "Oxnard",
  "Palmdale",
  "Pasadena",
  "Paterson",
  "Peoria",
  "Pomona",
  "Port St. Lucie",
  "Providence",
  "Rancho Cucamonga",
  "Reno",
  "Richmond",
  "Riverside",
  "Rochester",
  "Rockford",
  "Roseville",
  "Round Rock",
  "Salem",
  "Salinas",
  "Santa Ana",
  "Santa Clara",
  "Santa Clarita",
  "Santa Rosa",
  "Savannah",
  "Scottsdale",
  "Shreveport",
  "Sioux Falls",
  "Spokane",
  "Springfield",
  "St. Paul",
  "St. Petersburg",
  "Sterling Heights",
  "Stockton",
  "Syracuse",
  "Tacoma",
  "Tempe",
  "Thornton",
  "Toledo",
  

    // add more cities here
  ];

  $("#city").autocomplete({
    source: cities,
    classes: {
      "ui-autocomplete": "autocomplete-custom",
    },
  });

  $(".autocomplete-custom").css("color", "black");
});



  
    console.log("jQuery version: " + $.fn.jquery);
    console.log("jQuery UI version: " + $.ui.version);
    
    // Autocomplete code here
 
  </script>
   <h1>Post a Message</h1>
   <div class="container">
     <form>
       <label for="message">Leave a message:</label>
       <textarea id="message" name="message" rows="5"></textarea>
       <button class="button" type="button" onclick="postMessage()">Post</button>
     </form>
     <ul id="messages"></ul>
   </div>
   
   <script>
     function postMessage() {
       var messageInput = document.getElementById("message");
       var message = messageInput.value;
       if (message === "") {
         alert("Please enter a message.");
         return;
       }
       var messageList = document.getElementById("messages");
       var messageItem = document.createElement("li");
       messageItem.innerHTML = message;
       messageList.appendChild(messageItem);
       messageInput.value = "";
     }
   </script>


  <div class="container">
    <div class="box">
      <h2>title</h2>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit rem accusantium delectus. Amet asperiores nesciunt ab sunt ullam repellat, omnis minima magnam mollitia nihil maiores laborum libero quam obcaecati provident?
    </div>
    <div class="box">
      <h2>title</h2>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit rem accusantium delectus. Amet asperiores nesciunt ab sunt ullam repellat, omnis minima magnam mollitia nihil maiores laborum libero quam obcaecati provident?
    </div>
  </div>
  
  <div class="change-color"></div> 
 

  <div style="display: flex; flex-wrap: wrap; justify-content: center; align-items: center; text-align: center; ">
    <h1 class="oo" style="text-shadow: none; color: white; padding-top: 100px; margin: 0 auto; font-size: 3em; max-width: 80%;">This is a big H1 without shadow</h1>
    <div class="uu" style="width: 100%; margin: 0 auto; font-size: 2em; color: white;">This text is big and white</div>
    
  </div>
  
  <style>
    @media (max-width: 768px) {
      .oo {
        font-size: 2em;
        

}

      }
      .uu {
        font-size: 1.5em;
        
      }
    
  </style>
  
  



  



  



        
   
    <style>
  .change-color {
  top: 0;
  left: 0;
  width: 100%;
  height: 400px;
  
}

.abc {
  height: 500px;
 
  
 display: flex;
 justify-content: center;
 align-items: center;
 z-index: -1;
}
      body {
        background-color: white;
        height: 3000px;
      }
    </style>
    
   
    



      <script>
        const changeColorDiv = document.querySelector('.change-color');
        let isPastChangeColorDiv = false;
  
        window.addEventListener('scroll', function() {
          const body = document.querySelector('body');
          const scrollY = window.scrollY;
  
          // Check if user has scrolled past the changeColorDiv
          if (!isPastChangeColorDiv && scrollY > changeColorDiv.offsetTop + changeColorDiv.offsetHeight) {
            isPastChangeColorDiv = true;
            body.style.backgroundColor = 'rgb(124, 181, 181)';
          }
  
          // Check if user has scrolled back up past the changeColorDiv
          if (isPastChangeColorDiv && scrollY <= changeColorDiv.offsetTop) {
            isPastChangeColorDiv = false;
            body.style.backgroundColor = '#fff';
          }
        });
      </script>

<body style="position: relative; min-height: 100vh; padding-bottom: 50px;">
  <!-- Your content here -->

  <footer style="height: 30px; bottom: 0; left: 0; right: 0; background-color: rgb(124, 181, 181); color: white; text-align: center; padding: 20px 20px 0 20px; align-items: center; justify-content:center;">
    <p>jamesmleppo@gmail.com</p>
  </footer>
  
  
</body>




<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/public/js/main.js"></script>
  </body>
  
  
</html>



